#pers-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 160%;
    color: white;

}
#changepass{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 160%;
    color:white;
}
#logout{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 160%;
    text-color:white;
}